* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  min-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  min-width: 80%;
}
h1 {
  text-align: center;
  margin: 0 auto;
}
.calculator {
  min-width: 80%;
}
.display {
  text-align: end;
  height: 100px;
  font-size: 48px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-width: 100%;
  background-color: lightblue;
}
.board {
  background-color: grey;
  border-radius: 5px;
  display: grid;
  gap: 5px;
  min-width: 100%;
  grid-template-columns: repeat(4, 1fr);
}
.number {
  font-size: 20px;
  border-radius: 5px;
  height: 50px;
  background-color: black;
  color: white;
}
